{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5 mb-5 card p-3">
        <h1>Welcome to <strong>FilmFinder</strong>!</h1>
        <p>Easily find films and TV shows using the <a href="{{ url_for('home') }}">search function</a>. Most search results will provide a valid URL which will direct you to the Film / TV Show source.</p>
        <p>Every TV show and Film found by this site is courtesy of the <strong>Utelly Universal Search</strong> which allows for the discovery of entertainment on most major UK and US entertainment streaming services.</p>
        <p>Please note that many of the entertainment services that are searched require a paid subscription, however, you may also find free content</p>
        <h1>Privacy Policy</h1>
        <p>This FilmFinder web application only collects the bare minimum of information necessary to get you started on your entertainment finding journey.
          The only personal information stored will include the <strong>Username, Email, Secured Password</strong> associated with your account.
          Please note that all this information will remain secured in our database and <strong>will not</strong> be shared for commercial or advertisement purposes.</p>
        <p>Additionally, we also offer an ad-free service! Please enjoy searching and we hope you find your desired content</p>
        <h1>Image Disclaimer</h1>
        <p>All icons and images used as a part of this web application are courtesy of <a href="https://fontawesome.com">https://fontawesome.com</a> and are in no way owned / proclaimed owned by this application.</p>
        <h1>Utelly API</h1>
        <p>See <strong>more info</strong> regarding <a href="https://rapidapi.com/utelly/api/utelly/endpoints">Utelly API here</a>.</p>
    </div>
{% endblock content %}
