{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>About</h1>
        <p>Welcome to this website! As a User of To-Dos you are able to create and save your very own personalised To-Do Lists with the ability to set reminders, share lists with colleagues and even add to lists from a slack channel.</p>
        <br>
        <h1>Privacy Policy</h1>
        <p>This To-Do List application collects the bare minimum information necessary to get you up and running with your personalised lists!
          The only personal information stored will include your provided Username, Email, Secured Password and any To-Do Lists associated with your Account.
          Please note that none of this information will be publicly shared without your consent.</p>
        <p>There is also no personalised advertisements in this application!!! Happy listing :)</p>
        <br>
        <h1>Image Disclaimer</h1>
        <p>All icons and images used as a part of this web application are courtesy of <a href="https://fontawesome.com/">https://fontawesome.com/</a> and are in no way owned / proclaimed owned by this application.</p>
    </div>
{% endblock content %}
