{% extends "layout.html" %}

{% block content %}
<div class="container h-100 mt-5 mb-5">
  <img class="home-banner-img mt-5 mb-5" src="static/ff_header_logo.png">
  <div class="text-monospace text-white">
    <p class="text-center bg-dark">Please enter a search term / terms to find movies and TV shows that are available in the selected country code.</p>
    <p class="text-center bg-dark">Please note that only UK and US search services are available.</p>
  </div>
  <div class="container-flex m-2 mt-5">
    {% if session.get("user") %}
      <form class="form-horizontal" action="{{ url_for('home') }}" method="POST">
        <div class="form-row">
          {{ args["search_form"].csrf_token }}
          <div class="col col-8">
            {{ args["search_form"].search_term.label }}:
            {{ args["search_form"].search_term(class="form-control", placeholder="Search Movie / TV Show by name") }}
          </div>
          <div class="col col-4">
            {{ args["search_form"].search_location.label }}:
            {{ args["search_form"].search_location(class="form-control") }}
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col col-1">
            {{ args["search_form"].search(class="btn btn-dark") }}
          </div>
        </div>
      </form>
    {% else %}
      <h3 class="text-center">Please <a href="{{ url_for('login') }}">login</a> / <a href="{{ url_for('register') }}">register</a> to begin searching.</h3>
    {% endif %}
  </div>
  </div>
{% endblock content %}
