{% extends "layout.html" %}

{% block content %}
  <div class="container mt-5 mb-5 p-3">
    <div class="row">
      <div class="card p-4 col-12">
        <form method="post" action="{{ url_for('login') }}">
          {{ args["login_form"].csrf_token }}
          <legend class="border-bottom pb-1">FilmFinder Login:</legend>
          <div class="form-group">
            {{ args["login_form"].username.label }}
            {% if args["login_form"].username.errors %}
              {{ args["login_form"].username(class="form-control is-invalid", placeholder="Enter your username...") }}
              <div class="invalid-feedback">
                  {% for error in args["login_form"].username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ args["login_form"].username(class="form-control", placeholder="Enter your username...") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ args["login_form"].password.label }}
            {% if args["login_form"].password.errors %}
              {{ args["login_form"].password(class="form-control is-invalid", placeholder="Enter your password...") }}
              <div class="invalid-feedback">
                {% for error in args["login_form"].password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ args["login_form"].password(class="form-control", placeholder="Enter your password...") }}
            {% endif %}
          </div>
          {{ args["login_form"].login(class="btn btn-dark") }}
        </form>
    </div>
  </div>
  <div class="row">
    <div class="card p-4 mt-2 col-6">
      <legend class="border-bottom mt-4">Login with Google:</legend>
      <div class="g-signin2 mt-4" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark"></div>
    </div>
    <div class="text-center col-6 mt-4 p-4">
      <span class="align-middle">
        <strong>Don't want</strong> to sign in with <strong>Google</strong>?<br>
        <a href="{{ url_for('register') }}"><strong>Create a FilmFinder Account Here Instead!</strong></a>
      </span>
    </div>
  </div>
{% endblock content %}
