{% extends "layout.html" %}

{% block content %}
<div class="container-flex m-2 mt-5">
  <form class="form-horizontal" action="{{ url_for('film_search') }}" method="POST">
    <div class="form-row">
      {{ args["searchForm"].csrf_token }}
      <div class="col col-8">
        {{ args["searchForm"].search_term.label }}:
        {{ args["searchForm"].search_term(class="form-control", placeholder="Search Movie / TV Show")}}
      </div>
      <div class="col col-4">
        {{ args["searchForm"].search_location.label }}:
        {{ args["searchForm"].search_location(class="form-control") }}
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col col-1">
        {{ args["searchForm"].search(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
{% endblock content %}
